body {
  font-family: 'Fira Code', monospace;
  background-color: $background-color;
  color: $text-color;
  font-size: 1.2rem;
  margin: 0rem auto;
  margin-bottom: 2rem;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

main {
  max-width: $content-width;
  margin: auto;
  padding: 1rem;
  padding-bottom: 5rem;
  margin-top: 2rem;
}

.main-home {
  margin-top: 0rem;
}

.fa-brands, .fa-solid {
  font-size: 2rem;
  font-weight: 500;
  margin: 0.3rem;
  ////color: $text-color;
}

h1,h2,h3, {
  font-weight: 600;
  margin: 0;
  text-transform: inherit;
  color: $title-color;
}

a {
  color: $text-color;
  text-decoration: none;
  font-weight: 500;
  &:hover {
    color: $link-color;
    opacity: 40%;
  }
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
}

/* Profile style for the home picture */
.profile {
  border-style: solid;
  border-color: $link-color;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  border-radius: 6px;
  border-radius: 50%;
}

.left {
  float: left;
}
.right {
  float: right;
}

// adjust tile sizes on smaller screens
@include media-query($on-phone) {
  @media screen and (max-width: $on-phone){
    .profile {
      width: 40%;
    }

  }
}
/* --- */

.button {
  background-color: $title-color;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-weight: 500;
}

/* --- */

@include media-query($on-palm) {
  @media screen and (max-width: $on-palm){
    body {
      //font-size: 0.75em;
      // font-size: calc(1.2em * 75/100);
    }
  }
}

@include media-query($on-phone) {
  @media screen and (max-width: $on-phone){
    body {
      //font-size: 0.75em;
      // font-size: calc(1.2em * 60/100);
    }
  }
}
