nav {
  max-width: 800px;
  margin: auto;
  height: 100%;
  //padding-top: 1em;
  //padding-bottom: 1em;
  padding: 1em 2em 1em 2em;
  border-bottom: 0.2em solid $link-color;

}

.links a {
  margin-right: 1.5em;
}
